.ask-to-scroll {
  position: relative;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 16px;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  text-indent: 0;

  .arrow {
    position: absolute;
    width: 9px;
    height: 5px;

    span {
      position: absolute;
      width: 7px;
      height: 2px;
      transition: all $fast-transition ease-in-out;
      background: $white;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        left: 4px;
        transform: rotate(-45deg);
      }
    }

    &:nth-child(1) {
      top: 0;
      animation: chevron1 0.95s infinite cubic-bezier(0.5, -0.8, 0.5, 1.8);
      opacity: 0;
    }

    &:nth-child(2) {
      top: 7px;
      animation: chevron2 0.95s infinite cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    &:nth-child(3) {
      top: 12px;
      animation: chevron3 0.95s infinite cubic-bezier(0.47, 0, 0.745, 0.715);
    }
  }
}

@keyframes chevron1 {
  0%,
  10% {
    transform: translateY(0);
    opacity: 0;
  }

  100%,
  58% {
    transform: translateY(7px);
    opacity: 1;
  }
}

@keyframes chevron2 {
  0%,
  5% {
    transform: translateY(0);
    opacity: 1;
  }

  100%,
  37% {
    transform: translateY(5px);
    opacity: 1;
  }
}

@keyframes chevron3 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100%,
  32% {
    transform: translateY(10px);
    opacity: 0;
  }
}
