// Duration.
$fast-transition: 0.2s;
$slow-transition: 0.3s;
$smooth-transition: 0.4s;
$average-transition: 0.6s;
// Fonts
$raleway-font: 'Raleway', sans-serif;
$roboto-font: 'Roboto', sans-serif;
// Colors
$greenLight: #d5d9b8;
$greenNormal: #bcbf56;
$greenDark: #707238;
$blueNormal: #6999bf;
$redNormal: #bf4743;
$redDark: #73302e;
$brownNormal: #8c593b;
$blackNormal: #0d0a07;

$white: $greenLight;
$fullpagenav: $brownNormal;
$fullpagenav-hover: $redDark;
$fullpagenav-active: $brownNormal;

h1 {
  font-family: $raleway-font;
  font-size: 5em;
  line-height: 100%;
  font-weight: 700;
}

h2 {
  font-family: $raleway-font;
  font-size: 3.75em;
  line-height: 100%;
}

h3 {
  font-family: $raleway-font;
  font-size: 3em;
  line-height: 105%;
}

h4 {
  font-family: $raleway-font;
  font-size: 2.125em;
  line-height: 110%;
  font-weight: 400;
}

h5 {
  font-family: $raleway-font;
  font-size: 1.5em;
  line-height: 115%;
  font-weight: 400;
}

h6 {
  font-family: $raleway-font;
  font-size: 1.25em;
  line-height: 120%;
  font-weight: 400;
}

.height-100vh {
  height: 100vh;
}

.about-me {
  max-width: 450px;
  min-width: 250px;
}

.card-element-separator {
  display: block;
  width: 10rem;
  height: 3px;
  background: $greenDark;
  background: -webkit-gradient(linear, left top, right top, from($greenDark), to($greenNormal));
  background: linear-gradient(to right, $greenDark, $greenNormal);
}

.project-card .v-image {
  // border-bottom: $blueNormal 5px solid;
  background-color: #fff;
}

@import 'fullpage';
@import 'asktoscroll';
